<div id="details-container">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar>
                <span class="material-icons">
                    layers
                </span>
            </div>
          <mat-card-title>{{ infos.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ infos.allPokemons }} Numero total de cartas</p>
          <p>{{ infos.trainer }} cartas de Treinador</p>
          <p>{{ infos.pokemons }} cartas de Pokémons</p>
          <p>{{ infos.onlyType }} Pokemons de tipo único</p>
          <p>{{ infos.colors }} cores</p>
        </mat-card-content>
      </mat-card>
      
</div>
