<mat-grid-list cols="2" rowHeight="fit" id="deck-container">
    <div class="top-container">
        <app-search-bar [deckName]="nome_baralho" (search)="searchName($event)"></app-search-bar>
        <div class="top-container__right">
            <input placeholder="Nome do baralho" class="name-input" (change)="ChangeName($event)">
            <button (click)="SalvarBaralho()" class="save-btn"
                [disabled]="can_add" >
                Salvar Baralho
            </button>
        </div>
    </div>
    <div class="container">
        <mat-progress-spinner
            color="accent"
            mode="indeterminate"
            *ngIf="showSpinner">
        </mat-progress-spinner>
        <div class="left-content" *ngIf="pokemons$ | async as pokemons">
            <mat-grid-list cols="3" rowHeight="fit" *ngFor="let item of pokemons.cards" class="left-container">
                <app-card [pokemon]="item" [disable]="can_add" (carta)="cartaRecebida($event)"></app-card>
            </mat-grid-list>
        </div>
        <div class="right-content">
            <app-choose-card [cards]="baralhos"  (addCards)="cartaRecebida($event)" (currentCards)="NewCards($event)"></app-choose-card>
        </div>
    </div>
</mat-grid-list>

