#deck-container
    display: flex
    
    .container
        display: flex
        flex-direction: row
        justify-content: space-around

        .left-content
            display: flex
            max-width: 70%
            flex-wrap: wrap
            
        .right-content
            display: flex
            flex-direction: column
            justify-content: space-around
