<div *ngIf="baralhos_collect as baralhos" id="choose-card-container">
    <div *ngFor="let baralho of baralhos" class="geral-container">
        <div class="card-title">
            <h3>{{ baralho.name }}</h3>
            <button mat-icon-button type="submit"
                color="primary" [routerLink]="['details', baralho.id]">
                <mat-icon>
                    add_circle_outline
                </mat-icon>
            </button>
            <button mat-icon-button type="submit"
                color="primary" [routerLink]="['edit', baralho.id]">
                <mat-icon>
                    drive_file_rename_outline
                </mat-icon>
            </button>
            <button mat-icon-button type="submit"
                color="warn" (click)="RemoveBaralho(baralho.id)">
                <mat-icon>
                    delete_sweep
                </mat-icon>
            </button>
        </div>
    </div>
</div>
